@use "_g" as *;

@layer main {
    #loglist {
        @include flex;
        flex-direction: column;

        turbo-frame {
            width: 100%;
        }

        .loglist_container {
            margin: 0.1em;
            @include flex;
            align-items: stretch;
            width: 100%;
            border: solid thin rgba(gray, 0.2);
            border-radius: 1em;
            overflow: hidden;

            .loglist_container_main {
                flex: 1;
                padding: 1em;
                background-color: $base-color;

                .loglist_date {
                    font-size: 0.8em;
                    color: gray;
                }

                .loglist_title{
                    input{
                        width: 100%;
                    }
                }

                .loglist_tags{
                    font-size: 0.7em;

                    input{
                        margin: 0;
                        width: 100%;
                    }
                }
                ul.loglist_tags {
                    margin: 0;
                    padding: 0;
                    margin-top: 0.5rem;
                    padding-left: 1em;
                    display: flex;
                    gap: 0.5em;

                    >li {
                        list-style: none;
                        padding: 0 1em;
                        border: solid 1px gray;
                        border-radius: 0.7em;
                    }
                }
            }

            .loglist_container_button {
                @include flex;
                width: 3em;
                background-color: color-mix(in srgb, blue 15%, $base-color);
                color: $assort-color;
                text-decoration: none;
            }

            input.loglist_container_button {
                border: none;
                outline: none;
                background-color: color-mix(in srgb, green 15%, $base-color);
            }
        }
    }
}