@use "_g" as *;

@layer main{
    table#pc_loglist{
        table-layout: fixed;
        width: 100%;

        th:nth-of-type(1){
            width: 8em;
        }

        td p{
            display: -webkit-inline-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
        }
    }

    #sp_loglist{
        @include flex;
        flex-direction: column;

        .loglist_container{
            padding: 1em 0.5rem;
            width: 100%;

            &:not(:last-of-type){
                border-bottom: solid thin;
                border-image: linear-gradient(to right, transparent 10%, $assort-color 50%, transparent 90%);
                border-image-slice: 1;
            }

            .loglist_date{
                font-size: 0.8em;
                color: gray;
            }
        }
    }
}